{% extends 'base.html.twig' %}

{% block title %}{{car.brand}} {{car.model}} - Garage Castelsarrasin / Montauban{% endblock %}

{% block body %}

<style>
    body {
        background: rgb(236, 236, 236);
        background-size: cover;
    }

    h1 {
        font-size: 3.4rem;
        border-radius: 0 0 5px 5px;
        position: absolute;
        z-index: 5;
    }

    .table {
        width: 35%;
        border-radius: 15px;
    }

    th {
        font-size: 1.5rem;
        font-size: bold;
    }

    img {
        filter: contrast(90%);
        height: 300px;
        border-radius: 15px;

        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
    }

    #caracteristics {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-left: 138px;
    }

    #caracteristics_id {
        text-align: center;
    }

    @media all and (max-width: 768px) {
        #caracteristics {
            margin-left: 0;
        }

        #caracteristics_id {
            text-align: start;
        }
    }
</style>

<div class="info-box-notification text-light">
    <i class="fa fa-question-circle-o" style="position: absolute; top:7px; left:5px;font-size: 1.2rem;"
        aria-hidden="true"></i>
    <i class="fa fa-bars" style="position: absolute;left: 5px; top: 45%;" aria-hidden="true"></i>

    <h4 class="text-center mb-4">Besoin d'informations ?</h4>

    <h5 style="font-size: 1rem;text-align: center; text-align: center;">Téléphone</h5>
    <hr style="border-color: rgba(255,255,255,0.2); margin-top: -5px;">
    <p style="font-family: 'Roboto', sans-serif !important;margin:0;padding:0;"
        class="text-center d-block sticker bg-success"><i class="fa fa-phone" aria-hidden="true"></i>+33 5 63 32 33 78
    </p>

    <h5 style="font-size: 1rem;text-align: center;margin-top: 20px">E-mail</h5>
    <hr style="border-color: rgba(255,255,255,0.2); margin-top: -5px;">
    <a href="mailto:sarlgaragebrincat@orange.fr" class="sticker bg-primary"
        style="text-decoration-color: white; color: white;font-size: 1rem; text-align: center; display: block;">
        sarlgaragebrincat@orange.fr
    </a>


</div>

<div class="container p-2" style="color: #373737">
    <div class="row">
        <h1 class="text-center text-dark col-md-12 col-lg-12 col-sm-12">{{ car.brand }} {{ car.model }}</h1>
        <div class="col-md-12 col-lg-12 col-sm-12 p-0 d-flex justify-content-center">
            <img src="{{ asset("images/properties") }}/{{ car.filename }}" alt="{{ car.brand }} {{ car.model }}">
        </div>
        {% if car.type == 'Neuf' %}
        <h2 class="col-12 text-center mt-4"><span style="font-weight: bold;">Véhicule</span style="font-weight: bold;">
            <span class="sticker bg-success text-light">neuf</span></h2>
        {% else %}
        <h2 class="col-12 text-center mt-4"><span style="font-weight: bold;">Véhicule</span> <span
                class="sticker bg-info text-light">occasion</span></h2>
        {% endif %}
        <div class="col-md-6 col-lg-6 col-sm-12 text-dark p-5">
            <h3 id="caracteristics_id">Caractéristiques</h3>
            <ul id="caracteristics">
                <li><span style="font-weight: bold;">Couleur</span>: {{ car.color }}</li>
                <li><span style="font-weight: bold;">Prix</span>: {{car.price}}€ HT</li>
                <li><span style="font-weight: bold;">Date de mise en circulation</span>:
                    {{ car.released ? car.released|date('d/m/Y') : '' }}</li>
                <li><span style="font-weight: bold;">Energie</span>: {{ car.energyType }}</li>
                <li><span style="font-weight: bold;">Kilomètrage</span>: {{car. mileage}} Km</li>
                <li><span style="font-weight: bold;">Garantie</span>: {{car.warranty}}</li>
            </ul>
        </div>
        <div class="col-6 p-5">
            <h3>Equipements</h3>
            {% for equipment in equipments %}
            <tr>
                <hr class="w-100">
                <p>{{equipment}}</p>
            </tr>
            {% endfor %}
        </div>
    </div>
</div>


<div itemtype="http://schema.org/Product" itemscope>
    <meta itemprop="name" content="{{ car.brand }} {{ car.model }}" />
    <link itemprop="image" href="{{ car.filename }}" />
    <link itemprop="image" href="{{ car.filename }}" />
    <link itemprop="image" href="{{ car.filename }}" />
    <meta itemprop="description" content="En vente au Garage BRINCAT" />
    <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
        <link itemprop="url" href="https://www.sarlgaragebrincat.fr/{{ car.type }}/{{ car.id }}" />
        <meta itemprop="availability" content="InStoreOnly" />
        <meta itemprop="priceCurrency" content="€" />
        <meta itemprop="price" content="{{ car.price }}" />
    </div>
    <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
        <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
            <meta itemprop="name" content="SARL Garage BRINCAT" />
        </div>
    </div>
    <meta itemprop="sku" content="{{ car.id }}" />
    <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
        <meta itemprop="name" content="{{ car.brand }}" />
    </div>
</div>

{% endblock %}