{% extends 'base.html.twig' %}

{% block title %}SARL BRINCAT : Garage à Castelsarrasin et Montauban{% endblock %}

{% block head %}
<meta name="description"
    content="SARL Brincat, Garage FIAT à Castelsarrasin et à Montauban, spécialisé Camping-car, carrosserie, peinture ainsi que voitures toutes marques et occasions.">
<link rel="canonical" href="https://www.sarlgaragebrincat.fr">
{% endblock %}

{% block body %}

<header>
    <div class="container ml-2" id="header_content">
        <div class="col p-3" style="height: 250px; font-family: 'PT Sans', sans-serif;">
            <h2 class="text-light" style="letter-spacing: 0.1em;">Une gamme unique</h2>
            <div class="text-light mt-1" id="header_text" style="letter-spacing: -0.05em">Découvrez notre catalogue de
                voitures neuves dès maintenant</div>
            <a class="btn btn-outline-light btn-design" id="header_btn" href="{{ path('neuf') }}">EN SAVOIR PLUS</a>
        </div>
    </div>
</header>

<section class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col-2"></div>
        <h2 class="text-white">JE RECHERCHE</h2>
    </div>
    <div class="row mb-5">
        <div class="col-2"></div>
        <hr class="bg-success" style="border-width: 3px; width: 50px">
    </div>

    <div class="m-auto">
        <div class="row">
            <div class="col-2"></div>
            <a href="{{ path('neuf') }}" class="btn btn-success btn-design col-md-3 col-lg-3 col-sm-12">UN VEHICULE
                NEUF</a>
            <div class="col-2"></div>
            <a href="{{ path('occasion') }}" class="btn btn-success btn-design col-md-3 col-lg-3 col-sm-12">UN VEHICULE
                OCCASION</a>
            <div class="col-2"></div>
        </div>
    </div>
</section>

<section class="separation-div first">
    <img class="rellax" src="{{ asset('res/garage-castelsarrasin-montauban-header_between_4.jpg') }}"
        alt="fiat 500 abarth blanche à l'arrêt">
</section>

<section class="container-fluid home-intro text-light bg-dark p-5 text-center">
    <div class="row">
        <div class="col-2"></div>
        <h1 class="" style="font-size: 2rem;">SARL Brincat & Brincat FILS</h1>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <hr class="bg-success" style="border-width: 3px; width: 50px">
    </div>
    <div class="row text-left">
        <div class="col-2"></div>
        <p class="col-10">
            Les <strong>garages FIAT SARL BRINCAT & BRINCAT fils</strong>, situés au <i>93 Avenue du Maréchal Leclerc</i> à Castelsarrasin et au <i>426 Avenue de Toulouse</i>
             à Montauban dans le département du <strong>Tarn-et-Garonne</strong> se met à votre disposition du mardi au samedi de 8h00 à 12h00 et de 14h00 à ~18h00.
        </p>
        <div class="col-2"></div>
        <p class="col-10">
            Notre équipe vous accueille dans nos locaux à pour des <strong>réparations toutes marques</strong>, en <strong>mécanique</strong>, <strong>carrosserie
                peinture</strong>, <strong>réparations</strong> et <strong>changement de bris de glace</strong>,
            <strong>vente de véhicules neufs et occasions</strong>.
        </p>
        <div class="col-2"></div>
        <p class="col-10">
            Spécialisés et agréés dans le <strong>camping-car</strong>, n'hésitez pas à venir faire une révision avant vos voyages !
        </p>
        <div class="col-2"></div>
        <p class="col-10">
            Dépanneur conventionné par des groupes d'assistance, nous sommes également à votre écoute
            pour toute demande de remorquage et d'assistance.
        </p>
    </div>
</section>

<section class="separation-div second">
    <img class="rellax" src="{{ asset('res/garage-castelsarrasin-montauban-header_between.jpg') }}"
        alt="rangée de fiat 500 anciennes de plusieurs couleurs différentes">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active p-3 text-center">
                <p class="slider-p">
                    <i class="fa fa-quote-left"></i>
                    <i>Très bon garage. Une équipe humaine et professionnelle. Je recommande sans hésitation.</i>
                    <i class="fa fa-quote-right"></i>
                </p>
                <p class="slider-fa" style="font-size: 1rem;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <a class="slider-mini" href="https://www.google.fr/maps/search/garage+brincat"
                    rel="noreferrer nofollow noopener" target="_blank"><i>Voir sur Maps</i></a>
            </div>
            <div class="carousel-item p-3 text-center">
                <p class="slider-p">
                    <i class="fa fa-quote-left"></i>
                    <i>Très bon garage, mécanos compétents et sympas, ainsi que tout le personnel.</i>
                    <i class="fa fa-quote-right"></i>
                </p>
                <p class="slider-fa" style="font-size: 1rem;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <a class="slider-mini" href="https://www.google.fr/maps/search/garage+brincat"
                    rel="noreferrer nofollow noopener" target="_blank"><i>Voir sur Maps</i></a>
            </div>
            <div class="carousel-item p-3 text-center">
                <p class="slider-p">
                    <i class="fa fa-quote-left"></i>
                    <i>Personnel accueillant à l'écoute, je recommande ce garage.</i>
                    <i class="fa fa-quote-right"></i>
                </p>
                <p class="slider-fa" style="font-size: 1rem;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </p>
                <a class="slider-mini" href="https://www.google.fr/maps/search/garage+brincat"
                    rel="noreferrer nofollow noopener" target="_blank"><i>Voir sur Maps</i></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="container-fluid bg-white pt-5 pb-5">

    <div class="row">
        <div class="col-2"></div>
        <h2>NOS SERVICES</h2>
    </div>

    <div class="row mb-5">
        <div class="col-2"></div>
        <hr class="bg-success" style="border-width: 3px; width: 50px">
    </div>

    <div class="container-fluid mt-5 m-auto" id="services_container">

        <div class="row">
            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_1">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_expertise.jpg') }}"
                        alt="lecture à la loupe d'un document par une personne">

                </div>
                <figcaption class="service-bottom text-white text-center">Expertise</figcaption>
            </figure>

            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_2">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_reparation.jpg') }}"
                        alt="voiture de sport avec le capot ouvert le moteur a l'air libre">
                </div>
                <figcaption class="service-bottom text-white text-center">Réparation</figcaption>
            </figure>

            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_3">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_depannage.jpg') }}"
                        alt="dépannage d'un homme en panne au bord de la route">
                </div>
                <figcaption class="service-bottom text-white text-center">Dépannage</figcaption>
            </figure>

            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_4">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_vente.jpg') }}"
                        alt="un garagiste tend les clés du véhicule">
                </div>
                <figcaption class="service-bottom text-white text-center">Ventes neufs & occasions</figcaption>
            </figure>

            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_5">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_revision.jpg') }}"
                        alt="révision d'un moteur de voiture par un garagiste">
                </div>
                <figcaption class="service-bottom text-white text-center">Révision</figcaption>
            </figure>

            <figure class="col-lg-4 col-md-6 mb-5 col-sm-12 mt-4 d-flex justify-content-center">
                <div class="service-card text-center overflow-hidden" id="service_6">
                    <img src="{{ asset('res/garage-castelsarrasin-montauban-service_garantie.jpg') }}"
                        alt="poingée de mains entre deux hommes dans un garage">
                </div>
                <figcaption class="service-bottom text-white text-center">Programme de garantie</figcaption>
            </figure>
        </div>

    </div>
</section>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js "></script>
<script defer>
    var rellax = null;
    event = setInterval(() => {
        if (!rellax && Rellax) {
            rellax = new Rellax('.rellax')
            clearInterval(event)
        };
    }, 500);
</script>
{% endblock %}