{% extends 'base.html.twig' %}

{% block title %}SARL Garage BRINCAT{% endblock %}

{% block body %}

<style>
    body {
        background-color: transparent;
        background-size: cover;
    }

    ul {
        list-style: none;
    }

    .params-list li::before {
        content: "\2022";
        color: royalblue;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
</style>


<div class="container-fluid p-5 bg-light" style="min-height: 70vh;">
    <h1 class="text-dark text-center mb-5">Nos offres occasions</h1>
    <div class="row">
        {% for car in cars %}
        <a class="col-md-3 col-lg-3 col-sm-12" href="{{ path('detail', {"type": 'occasion', "id": car.id}) }}">
            <div class="mb-5 text-center">
                <div class="car-card m-auto">
                    <div class="top">
                        <img src="/images/properties/{{ car.filename }}" alt="{{car.filename}}">
                    </div>
                    <div class="bottom">
                        <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
        
                        <ul class="params-list" style="text-align: left; margin-left: 22%;margin-top: 15px;">
                            <li class="card-text">{{ car.Color }}</li>
                            <li class="card-text">{{ car.energyType }}</li>
                            <li class="card-text">{{ car.mileage }} Km</li>
                        </ul>
        
                        <h4 class="card-title" style="font-weight: bold; margin-top: -20px;">{{ car.price }} € HT</h4>
        
                        <div class="card-button">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <p>En savoir plus</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% else %}
        RIEN A AFFICHER
        {% endfor %}
    </div>
</div>


{% endblock %}