{% extends 'base_admin.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}

    <style>
        body {
            background: white;
            background-size: cover;
        }
    </style>
    <h1 style="margin-top: 3vh; text-align: center; color: #373737">Liste des véhicules</h1>

    <table class="table table-light shadow" style="min-height: 700px; margin-top: 4vh">
        <thead>
            <tr>
                <th>Id</th>
                <th>Couleur</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Prix</th>
                <th>Année de mise en ciculation</th>
                <th>Energie</th>
                <th>Kilomètrage</th>
                <th>Equipements</th>
                <th>Garantie</th>
                <th>Image</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.Color }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.released ? car.released|date('d-m-Y') : '' }}</td>
                <td>{{ car.energyType }}</td>
                <td>{{ car.mileage }}</td>
                <td style="font-size: 0.8rem; font-weight: bold;">{{ car.equipments | slice(0,20) }}...</td>
                <td>{{ car.warranty }}</td>
                <td><img src="/images/properties/{{ car.filename }}" alt="" style="max-width: 60px;height: auto;"></td>
                <td>{{ car.type }}</td>
                <td>
                    <div class="row">
                        <div class="col-6"><a href="{{ path('car_show', {'id': car.id}) }}" class="btn btn-info">Detail</a></div>
                        <div class="col-6"><a href="{{ path('car_edit', {'id': car.id}) }}" class="btn btn-success">Modifier</a></div>
                    </div>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun véhicule enregistré !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}" class="btn btn-info">Ajouter un véhicule</a>
{% endblock %}
