{% extends 'base_admin.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1 style="margin-top: 5vh; text-align: center;">Car index</h1>

    <table class="table table-dark" style="min-height: 700px; margin-top: 10vh">
        <thead>
            <tr>
                <th>Id</th>
                <th>Couleur</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Prix</th>
                <th>Année de mise en ciculation</th>
                <th>Energie</th>
                <th>Kilomètrage</th>
                <th>Equipements</th>
                <th>Garantie</th>
                <th>Image</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.Color }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.released ? car.released|date('Y-m-d') : '' }}</td>
                <td>{{ car.energyType }}</td>
                <td>{{ car.mileage }}</td>
                <td>{{ car.equipments }}</td>
                <td>{{ car.warranty }}</td>
                <td><img src="/images/properties/{{ car.filename }}" alt="" style="max-width: 60px;height: auto;"></td>
                <td>{{ car.type }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}" class="btn btn-info">Create new</a>
{% endblock %}
