{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
<style>
    .table-wrapper {
        min-height: 70vh;
    }

    .unseen {
        background: lightyellow;
    }
    a {
        color: #373737;
    }
    .btn-light,.btn-danger {
        z-index: 2;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.20);
    }
</style>
    <h1>Boite de réception</h1>

    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom de l'émetteur</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                {% if message.seen == false %}
                <tr class="unseen message">
                    <td>{{ message.id }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.date ? message.date|date('d/m/Y') : '' }}</td>
                    <td style="display: flex;">
                        <a class="btn btn-light mr-3 text-dark" href="{{ path('message_show', {'id': message.id}) }}">Voir</a>
                        {{ include('message/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                <tr class="message">
                    <td>{{ message.id }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.date ? message.date|date('d/m/Y') : '' }}</td>
                    <td style="display: flex;">
                        <a class="btn btn-light mr-3 text-dark" href="{{ path('message_show', {'id': message.id}) }}">Voir</a>
                        {{ include('message/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% endif %}
                {% else %}
                <tr>
                    <td colspan="7">Aucun messages dans la boite de réception.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
