{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
<style>
    .table {
        
    }
</style>
    <h1>Boit de réception</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Phone</th>
                <th>Seen</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.date ? message.date|date('Y/m/d') : '' }}</td>
                <td>{{ message.phone }}</td>
                <td>{{ message.seen ? 'Yes' : 'No' }}</td>
                <td>{{ message.description }}</td>
                <td>
                    <div class="btn btn-info"><a href="{{ path('message_show', {'id': message.id}) }}">Voir</a></div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun messages dans la boite de réception.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
