{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}

<style>
    .wrapper {
        color: #373737;
        min-height: 60vh;
    }
    h1 span {
        font-weight: bold;
    }
    p {
        font-size: 1.5rem;
    }
    .phone-sticker {
        padding: 4px;
        border-radius: 3px;
        background: #47af01;
        color: white;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    }
</style>

    <div class="container m-auto wrapper">
        <h1>Message de <span class="text-bold">{{ message.name }}</span></h1>
        <i>Reçu le {{ message.date ? message.date|date('d/m/Y') : '' }}</i>
        <hr class="w-50">
        
        <p class="mt-5">{{ message.description }}</p>
        
        <p>Numéro de contact <span class="phone-sticker">{{ message.phone }}</span></p>
    </div>

    <div class="p-3 m-auto d-flex flex-column">
        <a class="mb-3" href="{{ path('message_index') }}">Retourner à la boite de réception</a>
        
        {{ include('message/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
