<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('res/car_icon-icons.com_70268.ico')}}" />
            <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        
        {% block navbar %}
            {% include "navigation.html.twig" %}
        {% endblock %}


        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"
                crossorigin="anonymous"></script>
        {% endblock %}


        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}
    </body>
</html>