<!-- Footer -->
<footer class="page-footer font-small" style="background: #272727;">
    <!-- Footer Links -->
    <div class="container text-center text-md-left text-light">
        <!-- Grid row -->
        <div class="row">

            <div class="col-md-6 mx-auto text-center">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('home') }}" class="text-white">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('neuf') }}" class="text-white">Neuf</a>
                    </li>
                    <li>
                        <a href="{{ path('occasion') }}" class="text-white">Occasion</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}" class="text-white">Contact</a>
                    </li>
                    <li>
                        <a href="{{ path('about') }}" class="text-white">A propos</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 mx-auto text-center">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Reseaux</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Google Maps</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Societe.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Facebook</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"
        style="background-color: rgba(0,0,0,0.2); color: rgba(255,255,255,0.6); float: bottom;">2020 Godino Pierre -
        <a href="/" style="color: #fff"> SARL Garage Brincat</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->